{% extends "mark/base.html" %}

{% block content %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <table style="width:80%">
        <tr>
            <th>id</th>
            <th>语料库</th>
            <th>描述</th>
            <th>标注完成度</th>
        </tr>
        {% for origin in origins %}
            <tr>
                <td>{{ origin.id }}</td>
                <td><a href="/mark/{{ origin.id }}">{{ origin.name }}</a></td>
                <td>{{ origin.description }}</td>
                <td>{{ origin.percentage }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}