{% extends "mark/base.html" %}


{% block content %}

    <div class="flex flex-col p-8 max-w-md mx-auto bg-white text-center">
        <div class="py-12 text-lg font-medium text-black">is this {{ source.origin.name }} ？</div>
        <div class="p-8 rounded-xl shadow-md">
            {% if  source %}

                <div class="">{{ source.head }}</div>
                <p class="text-gray-400">{{ source.detail | default:'no description' }}</p>
            {% else %}

            {% endif %}
            <div class="flex pt-8">
                <button onclick="" class="flex-1 mx-4 px-6 py-1
                        text-sm text-purple-600 font-semibold
                        rounded-full border border-purple-200
                        hover:text-white hover:bg-purple-600 hover:border-transparent
                        focus:outline-none
                        "
                >Yes
                </button>
                <button class="flex-1 mx-4 px-6 py-1
                        text-sm text-purple-600 font-semibold
                        rounded-full border border-purple-200
                        hover:text-white hover:bg-purple-600 hover:border-transparent
                        focus:outline-none
                        "
                >No
                </button>
            </div>
        </div>
    </div>
{% endblock content %}
